# MacOS
.DS_Store

# Sublime Text
app.sublime-project
app.sublime-workspace

# Storybook
.storybook-static

# Test
coverage

# NPM MTS
npm-debug.log
lerna-debug.log
node_modules

# NPM MTS Client Package
packages/client/build
packages/client/node_modules
packages/client/.env.develop
packages/client/.env.release

# NPM MTS HTTP Server Package
packages/http-server/build
packages/http-server/node_modules
packages/http-server/.env
