a:hover {
  color: #333;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
}

h1,
h2 {
  margin-bottom: 10px;
}

h2 {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.08em;
  font-weight: 300;
  line-height: 1.1;
  margin-top: 0;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

h4 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 500;
}

input {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 8px;
  display: inline-block;
}

input,
small {
  color: #545454;
}

small {
  font-size: 14px;
}
