@import '../../../../../library/src/sass/mixin';

.container1 {
  max-width: 960px;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 50px;

  section {
    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  path,
  svg {
    fill: #823eb7;
    stroke: #823eb7;
  }

  &BlogItem {
    position: relative;
    display: flex;
    border-bottom: 1px solid #e4e4e4;

    @media (max-width: 720px) {
      border-bottom: 1px solid #e4e4e4;
    }

    &:hover {
      box-shadow: 0 5px 20px -5px #999;
    }

    &Featured {
      margin: 20px 0;
      border-bottom: 1px solid transparent;

      @media (max-width: 720px) {
        flex-direction: column;
      }

      @media (max-width: 900px) {
        flex-direction: column;
      }
    }

    &Image {
      position: relative;
      overflow: hidden;
      //
      object-fit: cover;
      width: 280px;
      height: 180px;
      margin: 20px;

      @media (max-width: 720px) {
        display: none;
      }

      &Featured {
        height: 333px;
        width: 500px;
      }

      picture img {
        @include pictureImage;
      }
    }

    &Content {
      flex: 1 1;
      margin: 20px;

      &Featured {
        display: flex;
        flex-direction: column;
      }

      @include blogItemContentAnchor;
    }
  }

  &BlogList {
    display: flex;
    flex-direction: column;

    &Container1 {
      position: relative;
      display: flex;
      border-bottom: 1px solid #e4e4e4;

      @media (max-width: 720px) {
        flex-direction: column;
      }

      &:hover {
        box-shadow: 0 5px 20px -5px #999;
      }

      &Image {
        position: relative;
        overflow: hidden;
        //
        object-fit: cover;
        width: 280px;
        height: 180px;
        margin: 20px;

        @media (max-width: 720px) {
          display: none;
        }

        picture img {
          @include pictureImage;
        }
      }

      &Content {
        flex: 1 1;
        margin: 20px;

        @include blogItemContentAnchor;
      }
    }
  }
}
