html {
  height: 100%;
  box-sizing: border-box;
  font-family: Sans-Serif;
  //
  font-weight: 300;
  font-size: 18px;
  color: #2e3234;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

input {
  background: #fcfcfc;
  border: 2px solid #e7e7e7;
  padding: 15px;
  display: block;
  border-radius: 3px;
  font-size: 18px;
}

input:not(:last-child) {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #29b6f6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  // user agent stylesheet
  display: block;
  // font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  //
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
}

h3 {
  // user agent stylesheet
  display: block;
  // font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  //
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

small {
  font-size: 12px;
}

.label {
  color: #a4b1c5;
}

a.link {
  cursor: pointer;
}

.coursesTemplate {
  margin: 0 auto;
}
