@import '../../../../../library/src/sass/mixin';
@import './Book.part';

.topBorder {
  border-top: 1px solid #e4e4e4;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 85px 20px;
  max-width: 800px;
  margin: 0 auto;

  @media (max-width: 720px) {
    flex-direction: column;
  }

  &Image {
    position: relative;
    overflow: hidden;
    //
    min-width: 250px;
    max-width: 300px;
    margin: 20px;

    @include pictureImage();
  }

  &Info {
    display: flex;
    flex-direction: column;

    &Lead {
      font-weight: 300;
      font-size: 21px;
      margin: 10px 0;
    }

    &Link {
      &:visited {
        color: #fff;
        background-color: #823eb7;
      }

      // primary button
      display: inline-block;
      color: #fff;
      background-color: #823eb7;
      margin: 0;

      @include buttonModuleBase;
      @include buttonModuleBaseLarge;
      @include buttonModuleBaseRound;

      &:visited path,
      &:visited svg {
        fill: #fff;
        stroke: #fff;
      }
    }
  }
}
